@model Issue_Tracker_MVC.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueReporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueReporter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
